.venv/
venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Results
results/
*.pkl

# IDE/editor settings
.vscode/
.idea/
